{% extends 'base.html.twig' %}

{% block title %}Hotels{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Hotels</h2>
                </div>
                <div class="card-body">
                    <div class="hotel-card-container">
                        {% for hotel in hotels %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h3 class="card-title">{{ hotel.name }}</h3>
                                    <p class="card-text">{{ hotel.city }}</p>
                                    <p class="card-text">{{ hotel.description }}</p>
                                    <p class="card-text">{{ hotel.price }}</p>
                                    {% if hotel.categorised == true %}
                                        <p class="card-text">You can bring your big doggo!</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
