{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <div>
        <h3>Profile Picture</h3>
        <img src="">
        </img>
    </div>

    <div class="account-information">
        <h3>Name : </h3>
        <p>{{ user.getUsername() }}</p>

        <h3>Email : </h3>
        <p>{{ user.getEmail() }}</p>

        <h3>Pets : </h3>
        <ul>
            {% for pets in user.getPets() %}
            <li>{{ pets.name }}<li>
            {% endfor %}
        </ul>
        
    </div>

    <a href="{{path('app_logout')}}"> 
    <button type="button" class="btn btn-primary">Log out</button>
    </a>
</div>
{% endblock %}
