{% extends 'base.html.twig' %}


{% block body %}

<main>

    {# Présentation #}

 
    <div class="presentation">
        <div class="presentation-container">
            <h2>Qui sommes nous ?</h2>
            <p>Velit aliqua tempor officia pariatur magna anim esse excepteur amet aliquip in ullamco. Dolore magna aute in ullamco irure labore dolor ipsum amet ea id est non. Cillum laborum adipisicing aliqua eu non nulla eiusmod adipisicing. Ut commodo duis occaecat ex ad aliqua elit sunt ullamco laboris esse tempor. Cillum aute anim proident officia et et nulla est dolor quis dolor cillum fugiat.</p>
        </div>

        <div class="presentation-container">
            <h2>Pourquoi nous ?</h2>
            <p>Do anim pariatur id eiusmod occaecat reprehenderit qui est labore ut pariatur ea nostrud adipisicing. Nostrud est labore ea Lorem culpa magna dolor officia id officia mollit adipisicing do. Nostrud enim est do labore laborum ex incididunt eu aliqua. Tempor id cillum ut voluptate in id dolore.</p>
        </div>
    </div>


    {# Connexion #}
    <section class="connect">
        <div class="connect-container">  
            <span>Vous avez déjà un compte ?</span> 
            <a href="{{path('app_login')}}">
            <button >
                <span class="shadow"></span>
                <span class="edge"></span>
                <span class="front text"> Se connecter
                </span>
            </button>
            </a>
        </div>

        <div class="connect-container">
            <span>Rejoignez-nous !</span>
            <a href="{{path('app_register')}}">
            <button>
                <span class="shadow"></span>
                <span class="edge"></span>
                <span class="front text"> S'enregistrer
                </span>
            </button>
            </a>
        </div>
    </section>
</main>

{# dog #}
<div class="dog">
  <div class="ears"></div>
  
  <div class="body">
    <div class="eyes"></div>
    <div class="beard">
      <div class="mouth">
        <div class="tongue"></div>
      </div>
    </div>
    <div class="belt">
      <div class="locket"></div>
      <div class="dot dot1"></div>
      <div class="dot dot2"></div>
      <div class="dot dot3"></div>
      <div class="dot dot4"></div>
      <div class="tag"></div>
    </div>
    <div class="stomach">
    </div>
    <div class="legs">
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </div>
  <div class="tail">
  </div>
</div>
{% endblock %}
