{% extends 'base.html.twig' %}

{% block title %}Main Page{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Hello {{ user.username }}! </h1>
        </div>

        <div class="row">
            <div class="col-md-3">
                <a href="/hotels" class="text-decoration-none">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Hôtel</h5>
                        </div>
                    </div>
                </a>
                {% for i in range (0,5) %}
                    <div class="card">
                        <h6 class="card-title">{{ hotels[i].name }}</h6>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-3">
                <a href="/veterinarians" class="text-decoration-none">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Vétérinaire</h5>
                        </div>
                    </div>
                    {% for i in range (0,5) %}
                    <div class="card">
                        <h6 class="card-title">{{ veterinarians[i].name }}</h6>
                    </div>
                {% endfor %}
                </a>
            </div>

            <div class="col-md-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Lorem Ipsum</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Lorem Ipsum</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
